src/conf/xml-resources/web-service-references/Web_Service_WS/wsdl/localhost_8080/TServicio/Web_Service_WS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="Web_Service_WS">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://localhost:8080/TServicio/Web_Service_WS?xsd=1"/>
</xsd:schema>
</types>
<message name="getFicheroAdjunto">
<part name="parameters" element="tns:getFicheroAdjunto"/>
</message>
<message name="getFicheroAdjuntoResponse">
<part name="parameters" element="tns:getFicheroAdjuntoResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getDirec">
<part name="parameters" element="tns:getDirec"/>
</message>
<message name="getDirecResponse">
<part name="parameters" element="tns:getDirecResponse"/>
</message>
<portType name="Web_Service_WS">
<operation name="getFicheroAdjunto">
<input wsam:Action="http://WS/Web_Service_WS/getFicheroAdjuntoRequest" message="tns:getFicheroAdjunto"/>
<output wsam:Action="http://WS/Web_Service_WS/getFicheroAdjuntoResponse" message="tns:getFicheroAdjuntoResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://WS/Web_Service_WS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://WS/Web_Service_WS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getDirec">
<input wsam:Action="http://WS/Web_Service_WS/getDirecRequest" message="tns:getDirec"/>
<output wsam:Action="http://WS/Web_Service_WS/getDirecResponse" message="tns:getDirecResponse"/>
</operation>
</portType>
<binding name="Web_Service_WSPortBinding" type="tns:Web_Service_WS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getFicheroAdjunto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDirec">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Web_Service_WS">
<port name="Web_Service_WSPort" binding="tns:Web_Service_WSPortBinding">
<soap:address location="http://localhost:8080/TServicio/Web_Service_WS"/>
</port>
</service>
</definitions>